label {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 30px;
  position: relative;
}
.language .title_set {
  position: absolute;
  left: 30px;
  font-size: 18px;
  font-weight: 700;
}

.language .form_radio:nth-child(2n) {
  padding-right: 50px;
}

.form_radio input[type=radio] {
  display: none;
}

.form_radio label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;
  padding-left: 28px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -3px;
  bottom: 1px;
  border: 1px solid #796ea3;
  cursor: pointer;
}

.form_radio label::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 1px;
  bottom: 1px;
  transition: all ease 0.3s;
}

/* Checked */
.form_radio input[type=radio]:checked + label:after {
  background: #e4c9fc;
}

/* Hover */
.form_radio label:hover::after {
  background: rgba(228, 201, 252, 0.4);
}

.main_button {
  border: none;
  width: calc(100% - 70px);
  cursor: pointer;
  color: #fff;
  border: none;
}

section > .sub_title:nth-child(even) {
  margin-top: 45px;
}

.password {
  padding: 65px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}
.password .title_set {
  position: absolute;
  left: 30px;
  font-size: 18px;
  font-weight: 700;
  top: 72px;
}
.password .wrap_pass {
  max-width: 325px;
  width: 100%;
  position: relative;
}
.password .wrap_pass input.main_button {
  border: none;
  width: 100%;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 16px 35px;
  border-radius: 40px;
}
.password .wrap_pass input {
  border-radius: 20px;
  border: 1px solid #a7a8c0;
  font-size: 18px;
  padding: 25px 20px;
  width: calc(100% - 40px);
  position: relative;
  color: #39386e;
}
.password .wrap_pass input:focus-visible {
  outline: none;
  border-color: #f37391;
}
.password .wrap_pass .pass {
  margin: 27px 0;
}
.password .wrap_pass .old_pass {
  position: relative;
}
.password .wrap_pass .old_pass input {
  padding-right: 50px;
  width: calc(100% - 70px);
}
.password .wrap_pass .old_pass img {
  width: 21px;
  height: 25px;
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.password .wrap_pass .pass {
  position: relative;
}
.password .wrap_pass .pass input {
  padding-right: 50px;
  width: calc(100% - 70px);
}
.password .wrap_pass .pass .hide_eye {
  width: 24px;
  height: 12px;
  position: absolute;
  top: 32px;
  right: 20px;
  cursor: pointer;
}
.password .wrap_pass .pass .hide_eye_open {
  top: 25px;
  width: 26px;
  height: 22px;
}

@media (max-width: 785px) {
  .password .title_set {
    top: 60px;
    width: 100px;
  }
}
@media (max-width: 620px) {
  .title {
    margin: 0;
  }
  section > .sub_title:nth-child(even) {
    margin-top: 30px;
  }
  .language {
    padding: 18px;
    border-radius: 15px;
  }
  .language .title_set {
    display: none;
  }
  .form_radio label {
    font-size: 14px;
  }
  .form_radio label:before {
    top: -2px;
  }
  .form_radio label::after {
    top: 2px;
  }
  .password {
    padding: 35px 18px;
  }
  .password .title_set {
    display: none;
  }
  .password .wrap_pass input {
    padding: 12px 7px;
    font-size: 14px;
    border-radius: 10px;
  }
  .password .wrap_pass .old_pass input {
    padding-right: 7px;
    width: calc(100% - 14px);
  }
  .password .wrap_pass .old_pass img {
    width: 17px;
    height: 20px;
    right: 7px;
    top: 11px;
  }
  .password .wrap_pass .pass {
    margin: 17px 0;
  }
  .password .wrap_pass .pass input {
    padding-right: 25px;
    width: calc(100% - 32px);
  }
  .password .wrap_pass .pass .hide_eye {
    width: 18px;
    height: 10px;
    position: absolute;
    top: 17px;
    right: 7px;
    cursor: pointer;
  }
  .password .wrap_pass .pass .hide_eye_open {
    top: 13px;
    right: 5px;
    width: 22px;
    height: 15px;
  }
}/*# sourceMappingURL=settings.css.map */